.spinner-overlay {
    background: #e2e2e2;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 20%;
    opacity: .75;
    z-index: 9999;
}

.spinner {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    animation: rotate 1.0s infinite linear;
    border: 8px solid #0f63e2;
    border-right-color: transparent;
    border-radius: 50%;	
}

.spinner-message {
    font-size: 30px;
    font-family: Arial;
    margin-top: 20px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}